<app-header></app-header>
<div class="container mt-5">
  <a href="/create" class="btnbtn-warning text-white">Create new</a>
  <div class="row">
      <div class="col-md-8">
          <div class="card">
              <div class="card-body shadow">
                  <div class="d-flex flex-column">
                      <h2 class="fs-3 mt-3">
                          First blog by John
                      </h2>
                      <h2 class="fs-6 mt-3 ">
                          John Doe (johndoe@email.com)
                      </h2>
                      <h2 class="fs-6 mt-3">
                          26-Nov-2021 02:42 PM
                      </h2>
                      <p class="mt-3">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta officiis ipsa,
                          saepe
                          facilis quisquam, ex quas quibusdam doloremque iusto itaque aspernatur deleniti
                          laboriosam, excepturi culpa hic incidunt sunt nihil expedita provident sequi aperiam
                          odio cumque. Pariatur enim qui dicta iste vel quam facere vitae non aspernatur
                          autem?
                          Tenetur quo hic ipsa placeat, error incidunt consequuntur, deserunt sit dolore vel
                          suscipit.
                      </p>
                      <div class="mt-3">
                          <a class="btn btn-warning text-white" href="/update/id">Update</a>
                          <a class="btn btn-danger ms-2" href="/delete/id">Delete</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
